<phpunit
    bootstrap="./../vendor/autoload.php"
    colors="true"
    stopOnError="true"
    stopOnFailure="true"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    beStrictAboutTestsThatDoNotTestAnything="false"
>
    <php>
        <env name="APPLICATION_ENV" value="testing"/>
    </php>

    <testsuites>
        <testsuite name="current-version">
            <directory>.</directory>
        </testsuite>
    </testsuites>

</phpunit>
